@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  font-family: 'Rubik', Verdana, sans-serif;
  box-sizing: border-box; 
  letter-spacing: -0.35px;
  user-select: none;
  --duration-ticker: 32s;
  --duration-stonk-alert: 10s;
  --color-bg: #251b29;
  --color-off-white: #f7eef1;
  --color-primary: #f52e7a;
  --color-secondary: #a56982;
  --color-STONK: #43ee5a;
  --color-off-STONK: #41a04e;
  --color-DTONK: #f53838;
  --color-off-DTONK: #c54c4c;
}

body {
  overflow: hidden;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

.no-click {
  pointer-events: none;
}

/* ------------ */
/*    HEADER    */
/* ------------ */

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-color: var(--color-bg);
}

#logo {
  margin: auto 16px;
  flex-grow: 0;
  font-weight: 700;
  color: var(--color-off-white);
  text-shadow: 3px .5px 0 var(--color-primary);
}

header ul {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
}

header li {
  margin: auto 32px;
  font-size: 20px;
}

header li .label {
  font-weight: 600;
  font-size: 15px;
  color: var(--color-secondary);
  text-transform: uppercase;
}

header li .value {
  font-size: 20px;
  color: var(--color-off-white);
}

/* ------------ */
/*    ASIDE    */
/* ------------ */

aside {
  display: flex;
  max-width: 450px;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  transition: 1s;
}

aside[hidden] {
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0.5;
  transition: 1s;
}

aside ul {
  width: 150px;
  z-index: 10;
}

aside li {
  z-index: 10;
  height: 150px;
  width: 150px;
  background-color: var(--color-bg);

  font-weight: 700;
  color: var(--color-secondary);
  text-shadow: -150px 0 0 #0000;

  cursor: pointer;
  transition: 200ms;
}

aside li .crypto-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}

aside li:hover .crypto-symbol {
  font-size: 1.1em;
  transition: 200ms;
}
aside li.show .crypto-symbol {
  color: var(--color-off-white);
  font-size: 1.1em;
  text-shadow: 3px .5px 0 var(--color-primary);
  transition: 200ms;
}

aside li .crypto-value {
  font-size: 20px;
  font-weight: 500;
}

aside li .crypto-container {
  position: relative;
  top: -150px;
  left: -150px;
}

aside canvas {
  max-width: 300px;
  background-color: #f8eff2ee;
}

aside .crypto-chart {
  position: relative;
  width: 300px;
  height: 150px;
  background-color: #0000;
  text-align: center;
  border-radius: 0 12px 12px 0;
  z-index: -1;
}

aside .show .crypto-chart {
  animation-name: CryptoShow;
  animation-duration: 1s;
  position: relative;
  left: 300px;
}

aside .hide .crypto-chart {
  animation-name: CryptoHide;
  animation-duration: 1s;
  position: relative;
  left: 0px;
}

@keyframes CryptoShow {
  from {
    position: relative;
    left: 0px;
  }
  to {
    position: relative;
    left: 300px;
  }
}

@keyframes CryptoHide {
  from {
    position: relative;
    left: 300px;
  }
  to {
    position: relative;
    left: 0px;
  }
}

/* ------------ */
/*    FOOTER    */
/* ------------ */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 70px;
  background-color: var(--color-bg); 
  padding-left: 100%;
  box-sizing: content-box;
}

footer ul {
  display: inline-block;
  background-color: var(--color-bg);
  height: 50px;
  line-height: 4rem;  
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: Ticker;
  animation-duration: var(--duration-ticker);
}

footer ul li {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-off-white);
  text-shadow: 3px .5px 0 var(--color-secondary);
  text-transform: uppercase;
}

footer ul li .crypto-symbol {
  padding-left: 100px;
  color: var(--color-off-white);
}

footer ul li .crypto-balance {
  padding-left: 50px;
  font-weight: 500;
  text-shadow: 1.5px .5px 0 var(--color-secondary);
}

footer ul li .crypto-balance-stonk {
  color: var(--color-STONK);
  text-shadow: 1.5px .5px 0 var(--color-off-STONK);
}

footer .ticker-message {
  padding-left: 200px !important;
  height: 50px;
  min-width: 100vw;
  background-color: var(--color-bg);
}

@-webkit-keyframes Ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes Ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* ------------------- */
/*     STONK ALERT     */
/* ------------------- */

#stonk-alert {
  margin: 0 0 0 150px;
  position: fixed;
  bottom: -254px;
  width: calc(100vw - 150px);
  height: 324px;
  background-color: var(--color-primary);
  display: flex;
  animation-name: StonkAlertShow;
  animation-duration: var(--duration-stonk-alert);
}

@keyframes StonkAlertShow {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#stonk-alert-image {
  width: 432px;
  height: 324px;
  background-image: url("./Images/stonk.gif");
  background-size: cover;
  background-color: var(--color-bg);

}

#stonk-alert-crypto {
  font-weight: 700;
  font-size: 70px;
  color: var(--color-off-white);
  text-shadow: 4px 0 0 var(--color-bg);
  margin: auto;
}

#stonk-alert-value {
  font-weight: 700;
  font-size: 70px;
  color: var(--color-off-white);
  text-shadow: 4px 0 0 var(--color-bg);
  margin: auto;
}
