.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#LeftSideBar{
  width: 400px;
  background-color: red;
  display: flex;
  flex-direction: row;
} 

#LeftSideBarCryptoSelector{
  width: 100px;
  z-index: 10;
}

.LeftSideBarCrypto{
  height: 100px;
  width: 100px;
  background-color: #61dafb;
  text-align: center;
  z-index: 10;
}

#LeftSideBarCryptoCharts{
  width: 300px;
}

.LeftSideBarCryptoChart{
  width: 300px;
  height: 100px;
  position: relative;
  left: -300px;
  background-color: aquamarine;
  text-align: center;
  z-index: 1;
}

.active{
  animation-name: LeftSideBarCryptoChartApparition;
  animation-duration: 1s;
  position: relative;
  left: 0px;
}

.disparition{
  animation-name: LeftSideBarCryptoChartDisparition;
  animation-duration: 1s;
  position: relative;
  left: -300px;
}

@keyframes LeftSideBarCryptoChartApparition{
  from{
    position: relative;  
    left: -300px
  }
  to{
    position: relative;
    left: 0px;
  }
}

@keyframes LeftSideBarCryptoChartDisparition{
  from{
    position: relative;  
    left: 0px
  }
  to{
    position: relative;
    left: -300px;
  }
}
