@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  font-family: 'Lato', Verdana, sans-serif;
}

#LeftSideBar{
  width: 450px;
  display: flex;
  flex-direction: row;
} 

#LeftSideBarCryptoSelector{
  width: 150px;
  z-index: 10;
}

.LeftSideBarCrypto{
  z-index: 10;
  height: 150px;
  width: 150px;
  background-color: #e9c759;

  font-weight: 700;
  color: #fff;
  text-shadow: -150px 0 0 #ee5438;

  cursor: pointer;
}

.LeftSideBarCrypto:hover {
  font-size: 1.1em;
}
.LeftSideBarCrypto.active {
  text-shadow: 5px 2px 0 #ee5438;
  font-size: 1.1em;
  transition: 200ms;
}

.LeftSideBarCryptoSymbol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.LeftSideBarCryptoChartContainer {
  position: relative;
  top: -150px;
  left: -150px;
}

.LeftSideBarCryptoChart {
  position: relative;
  width: 300px;
  height: 150px;
  background-color: "#0000";
  text-align: center;
  border-radius: 0 12px 12px 0;
  z-index: -1;
}

.active .LeftSideBarCryptoChart {
  animation-name: LeftSideBarCryptoApparition;
  animation-duration: 1s;
  position: relative;
  left: 300px;
}

.disparition .LeftSideBarCryptoChart {
  animation-name: LeftSideBarCryptoDisparition;
  animation-duration: 1s;
  position: relative;
  left: 0px;
}

@keyframes LeftSideBarCryptoApparition{
  from{
    position: relative;
    left: 0px;
  }
  to{
    position: relative;
    left: 300px;
  }
}

@keyframes LeftSideBarCryptoDisparition{
  from{
    position: relative;
    left: 300px;
  }
  to{
    position: relative;
    left: 0px;
  }
}

.LeftSideBarCryptoChartContainer canvas{
  max-width: 300px;
}